body {
  margin: 0;
  padding: 0;
}
#Main{
  display: flex;
}

#Status{
  display: flex;
  align-self: center;
  vertical-align: middle;
  height: 4vh;
  width: 50vw;
  align-items: center;
  justify-content: center;
  color: white;
  background: #222222;
  font-size: 0.9vw;
  font-family: sans-serif;
  align-items: flex-start;
}
#Error{
  display: flex;
  align-self: center;
  vertical-align: middle;
  height: 4vh;
  width: 50vw;
  align-items: center;
  justify-content: center;
  color: white;
  background: #222222;
  font-size: 0.9vw;
  font-family: sans-serif;
  align-items: flex-start;
  /* font-weight: 600; */
}
#MainPanel{
  height: 100vh;
  width: 67vw;
}
#Top{
  display: flex;
  height: 73vh;
  width: 100%;
  background-color: black;
  justify-content: center;
  flex-direction: column;
}
#MainVideo{
  /* object-fit:fill; */
  display: flex;
  height: 100%;
  width: 100%;
}
#VideoBorder{
  display: flex;
  height: 0.5%;
  width: 100%;
  background-color: white;
}
#SidePanel{
  height: 100vh;
  width: 33vw;
  background-color:#222222;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  border-left: solid;
  border-left-color:white ;
  border-width: 3px;
}
#PrayerList{
  display: flex;
  height:100vh;
  width: 100%;
  justify-content:space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #222222;
}
#NextPrayerArea{
  display: flex;
  width: 30vw;
  height: 12vh;
  background-color: darkslategray;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border-color: white;
  border-width: thin;
  border-style: solid;
}
#NextPrayerName{
  display: flex;
  height: 100%;
  width: 17vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0.5vh;
}
#NextPrayer-Name{
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
#NextPrayer-Type{
  display: flex;
  height: 5vh;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
#NextPrayerTime{
  display: flex;
  height: 100%;
  width: 20vw;
  justify-content: center;
  align-items: center;
  padding-right: 2%;
}
#NextPrayerNameLabel{
  display: flex;
  width: 100%;
  height: 100%;
  color: azure;
  align-items: center;
  font-size: 2.3vw;
  font-family: sans-serif;
  font-weight: 400;
  justify-content: center;
}
#NextPrayerTypeLabel{
  display: none;
  width: 100%;
  height: 100%;
  color: azure;
  align-items: center;
  font-size: 2vw;
  font-family: sans-serif;
  font-weight: lighter;
  justify-content: center;
  padding-left: 9%;
}
#NextPrayerTimeLabel{
  display: flex;
  width: 100%;
  color: ghostwhite;
  font-size: 4vw;
  font-family: sans-serif;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}
#DateTimeArea{
  display: flex;
  width:30vw;
  height:12vh;
  background-color:darkslategray;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  border-color: white;
  border-width: thin;
  border-style: solid;
}
#CurrentTime{
  display: flex;
  height: 100%;
  width: 15vw;
  justify-content: center;
  align-items: center;
}
#Time{
  display: flex;
  width: 100%;
  color: ghostwhite;
  font-size: 5.9vh;
  font-family: sans-serif;
  font-weight: 500;
  justify-content: center;
  padding-top: 2%;
}
#CurrentDate{
  display: flex;
  height: 100%;
  width: 14.6vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Date{
  display: flex;
  width: 100%;
  height: 0%;
  color: azure;
  align-items: center;
  font-size: 2vw;
  font-family: sans-serif;
  font-weight: normal;
  justify-content: center;
}
.PrayerTime{
  width: 14vw;
  height: 20.3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-radius: 11px;
  border-color: white;
  border-width: thin;
}
.PrayerBody{
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 105%;
  align-items: center;
}
.PrayerName{
  display: flex;
  height: 25%;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.PrayerNameText{
  font-family: system-ui;
  font-weight: 300;
  font-size: 4.5vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  color: azure;
}
.PrayerStart{
  display: flex;
  height: 47%;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.PrayerStartText{
  font-family: sans-serif;
  font-size: 6vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  color: ghostwhite;
  font-weight: 500;
}
.PrayerJamat{
  background-color: purple;
  display: flex;
  height: 30%;
  width: 95%;
  text-align: center;
  justify-content: center;
  border-style: solid;
  border-color: white;
  border-radius: 11px;
  border-width: thin;
}
.PrayerJamatText{
  font-family: sans-serif;
  font-size: 2.2vw;
  height: 100%;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  color: azure;
}
#Bottom{
  height: 29vh;
  width: 100%;
  background-color: #222222;
  align-items: center;
  justify-content: right;
  display: flex;
  flex-direction: column;
}
#Prayers{
  display: flex;
  height: 68vh;
  width: 98%;
  justify-content: space-evenly;
}
.PrayerColumn{
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  height: 101%;
  width: 14vw;
  align-items: center;
}
#BrandingArea{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  background-color: #222222;
}
#Alerts{
  display: flex;
  height: 5vh;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  background-color: #222222;
}
#logo{
  display: flex;
  justify-content: center;
  height: 25vh;
  width: 25vw;
  background-color: #222222;
  align-items: center;
  align-self: center;
  padding-bottom: 2.5vh;
}
.QRCode{
  display: flex;
  justify-content: center;
  height: 25vh;
  width: 15.3vw;
  background-color: #222222;
  align-items: center;
  align-self: center;
}
#QRCodes{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #222222;
  align-items: center;
  flex-direction: row;
}
#InformationPanel{
  display: flex;
  flex-direction: column;
  height: 28vh;
  justify-content: space-around;
  width: 30vw;
}
